@import "../../../styles/theme.scss";
@import "../../../styles/mixins.scss";

.button {
  &--primary {

    @include button;

    border: 1px solid $primary;


    &:hover {
      background-color: $primary;
      color: $accent-text;

      svg {
        fill: $accent-text;
      }
    }

    svg {
      width: fit-content;
      fill: $primary-text;
    }
  }


  &--accent-text {
    @include button;

    background-color: $accent-text;

    &:hover {
      background-color: $primary;
      color: $accent-text;
    }
  }


  &--colored {
    @include button;
    background-color: $primary;
    border: 2px solid $primary;
    color: $accent-text;


    &:hover {
      background-color: accent-text;
      color: $primary-text;

      svg {
        fill: $primary-text;
      }
    }

    svg {
      width: fit-content;
      padding-right: 10px;
      fill: accent-text;
    }
  }
}
