.card {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;

  img {
    width: 5.625rem;
    height: 5.625rem;
    margin-right: 1rem;
    border-radius: .5rem;
    object-fit: cover; 
  }

  .textContainer {
    h3 {
      font-size: 1rem;
    }

    ul {
      display: flex;
      gap: .5rem; 

      li {
        font-size: 0.875rem;
      }
    }
  }
}
