.card {
  width: 18.5rem;
  height: 26.25rem;
  padding: 17.87rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0.75rem;
  background-size: cover;

  .textContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    h3, p {
      font-size: 1.5rem;
    }
  }

  button {
    width: 15.5rem;
    justify-content: center;
  }
}
