@import "../../../styles/theme.scss";

.card {
  width: 18.5rem;
  height: 26.25rem;
  padding: 1.5rem;
  border-radius: 0.75rem;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .textContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
    top: 26.25rem;
    z-index: 1;

    h3,
    p {
      font-size: 1.5rem;
      color: $accent-text;
    }
  }

  button {
    width: 15.5rem;
    justify-content: center;
    position: relative;
    top: 26.25rem;
    z-index: 1;
  }
}

.gradient {
  height: 420px;
  width: calc(100% + 3rem);
  position: relative;
  top: 1.5rem;
  left: -1.5rem;
  border-radius: 0.75rem;
  background: linear-gradient(180deg, transparent 60%, #000);
}
